body {
  background-color: #122b4a;
  width: 100%;
}

.det {
  display: flex;
}

.block-items {
  margin-top: 20px;
  margin-left: -35px;
}

.txs-items {
  margin-top: 20px;
  margin-left: -35px;
}

.main-lists {
  display: flex;
}

.main-content {
  background-color: #122b4a;
}
