.body {
}

.main {
  margin-top: 100px;
  margin-left: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #223d61;
  font-family: Helvetica;
  font-size: 12px;
  width: 40%;
  font-weight: 10px;
}

.block-number {
  margin-top: -6px;
  font-size: 12px;
}

.label {
  color: white;
}

.ok {
  width: 10px;
  margin-left: 5px;
}

.question {
  width: 12px;
  padding-bottom: 2px;
  margin-right: 5px;
}

.value {
  color: white;
}

.hl {
  background-color: #2b4e79;
  width: 97%;
  height: 1.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.txd-row {
  display: flex;
  margin-top: -8px;
  margin-bottom: -10px;
}

.status-row {
  margin-bottom: -6px;
}

.hash {
  padding-bottom: ;
  margin-left: 2px;
  color: white;
  margin-top: -7px;
}

.from {
  color: white;
  margin-top: -8px;
  margin-left: 1px;
  padding-bottom: 10px;
}

.time {
  color: white;
  margin-top: -5px;
}

.time-row {
  margin-top: -8px;
}

.status {
  background-color: rgba(0, 201, 167, 0.1);
  margin-top: 12px;
  margin-left: 2px;
  color: #00c9a7;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  height: 15px;
}
